# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars        # если там секреты

# React
node_modules/
frontend/build/
.env
infrastructure/terraform.tfvars
infrastructure/.terraform/
infrastructure/*.tfstate
infrastructure/*.tfstate.backup

Document.txt